/* common share code */
/* *,::after,::before{
    border: 1px solid red;
}  */
body{
    overflow-x: hidden;
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --offWhite: #FAFAFA;
    --white: #ffffff;
    --secondary: #02494B;
}
::selection {
    background: #02494B; /* Vibrant pink background */
    color: #fff;         /* White text color */
  }
.img {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
}

.roslindale {
    font-family: roslindale;
}

.inter {
    font-family: inter;
}

.pointer {
    cursor: pointer;
}

.green {
    color: rgb(0, 73, 74);
}

.text-color-1 {
    color: #303635;
}

.text-normal {
    font-size: 18px;
}

.text-26 {
    font-size: 26px;
}

.text-xl {
    font-size: 48px;
}

.text-xxl {
    font-size: 56px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.item-center {
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-2xl {
    font-size: 56px;
}

.line-hight {
    line-height: 130%;
}

.z {
    z-index: 1;
}

/* header section start */
.nav-head {
    background-color: var(--offWhite);
}

.navigation {
    padding-top: 1.5rem;

}

.nav-end {
    gap: 1.5rem;
}

#love svg {
    color: black;
    /* Default color */
    cursor: pointer;
    transition: color 0.3s ease;
}

#love svg.clicked {
    color: red;
}


/* hero section header start*/
.hero {
    background-color: var(--offWhite);
    border-bottom: 1px solid black;
}

.hero-section-header-wrapper {
    gap: 2.5rem;
    width: 60%;
    margin: 0 auto;
    padding-top: 3.25rem;
}

.hero-section-h2 {
    font-size: 3rem;
    font-weight: 500;
}
.hero-section-img-wrapper{
    margin-top: 25px;
}
.hero-section-p {
    color: rgb(95, 96, 96);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    width: 65%;
    margin: 0 auto 23.97px auto;
}

.vactora {
    max-width: 1420px;
    margin: 0 auto;
    top: 20%;
    overflow: hidden;
    animation: bounce2 10s linear infinite;
}

/* vactor ing infinite scrool */

.vectorimg {
    width: 100%;
    animation: spin1 10s linear infinite;

}

@keyframes spin1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(10deg);
    }
}

@keyframes bounce1 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-50px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@keyframes bounce3 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-70px);
    }

    60% {
        transform: translateY(-2px);
    }
}

@keyframes scale {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        /* Start from the right */
    }

    100% {
        transform: translateX(-100%);
        /* Move all the way to the left */
    }
}

.element1 {
    animation: bounce1 2s infinite;
}

.middle-img {
    transform: translateY(8%);
}

.vactor {
    top: -50px;
    left: 30%;
    transform: translateY(-25%);
}

.lower-div {
    margin-top: 1.2rem;
    padding-bottom: 1.4rem;
}

.lower-p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    width: 50%;
}

/* hero section end  */

/* Style the marquee container */
.marquee {
    overflow: hidden;
    width: 100%;
    background-color: var(--white);
    padding: 31px 0 31px;
    border-bottom: 1px solid rgb(109, 115, 115);
   
}

/* Inner content styling */
.marquee-content {
    padding-left: 100%;
    gap: 2rem;
    animation: scroll 120s linear infinite;
    white-space: nowrap;
    display: inline-flex;
    
}

.marquee-wrapper {
    gap: 1rem;
    color: rgb(109, 115, 115);
    font-size: 1.4rem;
    white-space: nowrap;
}
.marquee-content:hover {
    animation-play-state: paused;
}

/* slider section start*/
.slider-content {
    margin-top: 116px;
    display: flex;
    gap: 24px;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    scroll-behavior: smooth;
    width: 100%;
    /* Adjust as needed */
}

.slider-img-wrapper {
    min-width: 300px;
    /* Adjust to control the width of each slide */
}

.scroll-btn {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: black;
    color: var(--white);
    gap: 0.5rem;
    top: 35%;
    left: 46%;
    box-shadow: -10px 4px 30px 0px rgba(63, 75, 75, 0.08);
    background: rgb(244, 245, 245);
}

.scroll {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.scroll-btn-real {
    border: none;
    background-color: rgb(244, 245, 245);
}

.slider-img-p {
    bottom: 10%;
    left: 5%;
    color: var(--offWhite);
    font-family: 'Roslindale';
    font-weight: 400;
    font-size: 28px;

}

.image-slider-container {
    overflow-x: scroll;
    scrollbar-width: none;

}

.ad {
    margin-bottom: 143px;
}

.image-slider-container::-webkit-scrollbar {
    display: none;
}

/* popular collection section start*/
.popular-collection {
    margin: 143px 0 0 0;
}

.popular-collection-upper {
    gap: 43px;
}

.tab-index {
    gap: 44px;
    align-items: center;
    border-bottom: 1px solid rgb(65, 65, 65);
    padding: 1rem;
}

.popular-collection-upper-p {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0%;
}

.tabs {
    gap: 44.33px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.tab-button {
    border: none;
    color: rgb(65, 65, 65);
    font-weight: 400;
    line-height: 32px;
    background: white;
    font-family: 'Roslindale';
}

.text-container {
    flex-direction: column;
    gap: 14px;
    margin-top: 14px;
}

.ptag {
    font-family: Roslindale;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.ptaga {
    color: rgb(136, 136, 136);
    font-family: Roslindale;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

/* Tab content */
.tab-content {
    display: none;
    /* Hidden by default */
    padding: 20px;
    margin-top: 10px;
}

.active-tab {
    display: block;

}

.active-button {
    border-bottom: 1px solid rgb(0, 7.3, 7.4);
    color: rgb(0, 7.3, 7.4);
}

/* target div */
.target-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 24px;
}

.seeAll {
    gap: 10px;
}

.SeeAllCollectionP {
    text-decoration: underline;
}

.seeAllHide {
    display: none;
}

.arrow-svg-button {
    border: none;
    background-color: white;
  cursor: pointer;
}

.arrow-svg {
    width: 24px;
    height: 24px;
}

/* popular section css end  */
/* future design section css start */
.future-design-section {
    background-color: var(--secondary);
    padding: 150px 0 150px 0;
    margin-top: 114px;

}

.future-design-wrapper {
    color: var(--white);
    gap: 54px;
}

.future-left {
    width: 50%;
}

.future-left-main-wrapper {
    width: 70%;
}

.future-left-main-wrapper-p {
    color: rgb(255, 255, 255);
    line-height: 140%;
    margin-bottom: 32px;
}

.future-left-main-wrapper-another-p {
    color: rgb(247, 248, 247);
    line-height: 32px;
    font-size: 20px;
}

.button-div {
    margin-top: 24px;
    gap: 8px;
}

.button-p {
    font-weight: 500;
    text-decoration: underline;
}

/* future counter */
.future-left-counter {
    margin-top: 81px;
    background-color: var(--white);
    flex-grow: 1;
    color: var(--secondary);
    padding: 50px;
}

.inner {
    gap: 30px;
}

.inner-vactor {
    left: 0%;
    bottom: 0%;
    width: 100%;

}

.inner-vactora {
    width: 100%;
    top: 0;
    left: 0;

}

.another-v {
    bottom: 0%;
    width: 100%;

}

.future-right {
    width: 50%;
    background-image: url("../assets/img/hero/89.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 632px;
}

.green-div {
    width: 20px;
    height: 100%;
    background-color: var(--secondary);
    top: 0;
    right: 39%;

}

.counter-vactor {
    top: -10%;
}

.future-vactor-div {
    background-color: var(--secondary);
    top: 0%;
    right: 0;
    width: 39%;
    height: 14%;
}

.future-vactor {
    top: -17%;
    right: 3%;
    height: 28%;
    animation: spin2 20s linear infinite;
}

/* future design section css end  */
/* why us section css start */
.why-us-section {
    background-color: var(--offWhite);
    padding: 70px 0 70px 0;
}
.why-p-up {
    margin-bottom: 84px;
}

.why-us-inner-wrapper {
    gap: 125px;
}

.why-h3 {
    margin-top: 40px;
}

.why-p {
    margin-top: 14px;
    color: rgb(73, 80, 80);
    line-height: 28px;
}

/* why us section css end */
/* office setup section start */
.office-setup-section {
    margin-top: 109px;
    margin-bottom: 104px;
}

.office-setup-wrapper {
    background-color: var(--secondary);
}

.setup-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 99px 0 99px 0;
}

.setup-btn {
    padding-bottom: 98px;
    gap: 40px;
}

.setup-h2 {
    color: rgb(245, 245, 245);
    font-weight: 600;
}

.setup-p {
    margin-top: 32px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.lets-talk-btn {
    padding: 12px 36px 12px 36px;
    color: var(--secondary);
    gap: 10px;
}

.phone {
    color: #02494B;
    width: 24px;
    height: 24px;
}

.see-all-btn {
    padding: 12px 24px 12px 24px;
    gap: 10px;
    background: transparent;
    color: var(--white);
    border: 1px solid white;
}

.arrow-righta {
    width: 24px;
    height: 24px;
    color: var(--white);
}

.officeVactor {
    bottom: 0;
}

.a {

    top: 15%;
    left: 15%;
    animation: bounce1 10s linear infinite;
}

.b {
    top: 33%;
    left: 10%;
    animation: bounce2 10s linear infinite;
}

.c {
    bottom: 7%;
    right: 12%;
    animation: bounce3 10s linear infinite;
}

/* office setup section end */
/* footer css start */
footer {
    background-color: var(--offWhite);
    margin-top: 70px;
}

.footer-wrapper {
    margin-top: 104px;

}

.main-footer {
    padding: 64px 0 64px 0;
    border-bottom: 1px solid rgb(156, 158, 158);
}

.left-side {
    gap: 136px;
}

.left-side-inner {
    width: 50%;
}

.right-side-h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
    width: 78%;
    margin-bottom: 40px;

}

.left-side-p {
    font-weight: 400;
    line-height: 28px;
    margin: 30px 0 52px 0;

}

.social-wrapper {
    gap: 23.95px;
    align-items: center;
}

.link-wrapper {
    gap: 128px;
    width: 50%;
}

.link-ul {
    color: rgb(73, 80, 80);
    line-height: 28px;
    font-weight: 400;
    gap: 16px;

}

.lets-talk-btna {
    background-color: var(--secondary);
    color: var(--white);
    border: none;
   cursor: pointer;
}


.end-footer {
    margin: 16px 0 16px 0;
}

.cookies-wrapper {
    gap: 76px;
}

/* footer css end */


/* for mobile responsive */
@media only screen and (max-width: 600px)  {

     /* *,
    ::after,
    ::before {
        border: 1px solid red;
    }  */

    .container {
        max-width: 95%;
        margin: 0 auto;
        padding: 12px 12px;
    }

    .nav-end {
        display: none;
    }

    /* hero section header start*/
    .hero-section-header-wrapper {
        gap: 1.5rem;
        width: 100%;
        padding-top: 2.25rem;
    }

    .hero-section-h2 {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 100%;
    }

    .hero-section-p {
        font-size: 0.8rem;
        width: 100%;
    }

    .vactora {
        display: none;
        animation: none;
    }

    /* vactor ing infinite scrool */
    .vectorimg {
        width: 100%;
        animation: spin1 20s linear infinite;
    }

    .element1 {
        animation: bounce1 2s infinite;
    }

    .middle-img {
        transform: translateY(0%);
    }

    .aaa {
        width: 100%;
    }

    .vactor {
        top: 17%;
        left: 25%;
        bottom: 124%;
        width: 50%;
    }

    .lower-div {
        margin-top: 1.2rem;
        padding-bottom: 1.4rem;
        display: flex;
        justify-content: space-between;
    }

    .lower-p {
        font-size: 1rem;
    }

    .hero-section-img-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .ad {
        margin-bottom: 70px;
    }

    /* hero section end  */
    /* marque */
    /* Style the marquee container */
    .marquee {
        background-color: var(--secondary);
    }

    .marquee-wrapper {
        color: var(--white);
        font-size: 1rem;
    }

    /* slider start */
    .scroll-btn {
        width: 129px;
        height: 129px;
        top: 35%;
        left: 32%;
        /* slider end */

    }

    /* popular collection css start */
    .popular-collection {
        margin: 70px 0 0 0;
    }

    .popular-collection-upper {
        gap: 30px;
    }

    .popular-collection-upper-p {
        font-size: 30px;
    }

    /* target div */
    .target-div {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
    }

    /* popular section css end  */
    /* future design section css start */
    .future-design-section {
        padding: 50px 0 50px 0;
        margin-top: 70px;

    }

    .future-design-wrapper {
        gap: 30px;
        flex-direction: column;
    }

    .future-left {
        width: 100%;
    }

    .future-left-main-wrapper {
        width: 100%;
    }

    .future-left-main-wrapper-p {
        font-size: 28px;
    }

    .future-left-main-wrapper-another-p {
        line-height: 22px;
        font-size: 13px;
    }

    .button-div {
        margin-top: 24px;
        gap: 8px;
    }

    /* future counter */
    .future-left-counter {
        margin-top: 45px;
        padding: 33px;
    }

    .inner {
        gap: 30px;
        font-size: 15px;
    }

    .inner-a {
        font-size: 26px;
    }

    .another-v {
        display: none;
    }

    .future-right {
        width: 100%;
        height: 500px;
    }

    .future-vactor-div {
        background-color: var(--secondary);
        top: 0%;
        right: 0;
        width: 39%;
        height: 14%;
    }

    .future-vactor {
        top: -4%;
        right: 5%;
        height: 17%;
    }

    /* future design section css end  */
    /* why us section css start */
    .why-us-wrapper {
        padding: 50px 0 50px 0;
    }

    .why-p-up {
        margin-bottom: 44px;
        font-size: 28px;
    }

    .why-us-inner-wrapper {
        gap: 30px;
        flex-direction: column;
    }

    /* why us section css end */
    /* office setup section start */
    .office-setup-section {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .setup-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 100px 0 100px 0;
    }

    .setup-btn {
        padding-bottom: 50px;
        gap: 20px;
        flex-direction: column;
    }

    .setup-h2 {
        font-size: 28px;
    }

    .setup-p {
        margin-top: 20px;
        font-size: 14px;
    }

    .lets-talk-btn {
        padding: 12px 36px 12px 36px;
    }

    .phone {
        color: #02494B;
        width: 24px;
        height: 24px;
    }

    .see-all-btn {
        padding: 12px 24px 12px 24px;
    }

    .arrow-righta {
        width: 14px;
        height: 14px;
    }

    .officeVactor {
        display: none;
    }

    .a {
        width: 50px;
        left: 3%;
    }

    .c {
        right: 5%;
    }

    /* office setup section end  */
    /* footer css start */

    .footer-wrapper {
        margin-top: 10px;
    }

    .main-footer {
        padding: 40px 0 40px 0;
        flex-direction: column;
    }

    .left-side {
        gap: 50px;
        flex-direction: column;
    }

    .left-side-inner {
        width: 100%;
    }

    .right-side-h2 {
        width: 100%;
        margin-top: 25px;
    }

    .social-wrapper {
        gap: 23.95px;
    }

    .link-wrapper {
        width: 100%;
        gap: 60px;
    }

    .end-footer {
        margin: 16px 0 16px 0;
    }

    .cookies-wrapper {
        gap: 30px;
    }

    /* footer css end */

}

@media only screen and (min-width: 601px)and (max-width:768px){
    /* *,
    ::after,
    ::before {
        border: 1px solid red;
    }  */
    .container {
        max-width: 95%;
        margin: 0 auto;
        padding: 12px 12px;
    }

    .nav-end {
        display: none;
    }
       /* vactor ing infinite scrool */
   
  .vactora{
    display: none;
  }
  .hero-section-h2{
    font-size: 2rem;
  }
  .hero-section-p{
    width: 100%;
  }
    .middle-img {
        transform: translateY(0%);
    }
    .aaa {
        width: 100%;
    }
    .vactor {
        top: 17%;
        left: 25%;
        bottom: 124%;
        width: 50%;
    }
    .lower-div {
        margin-top: 1.2rem;
        padding-bottom: 1.4rem;
        display: flex;
        justify-content: space-between;
    }
    .lower-p {
        font-size: 1rem;
    }
    .hero-section-img-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .ad {
        margin-bottom: 70px;
    }
    /* hero section end  */
     /* Style the marquee container */

    .marquee-wrapper {
        font-size: 1rem;
    }

    /* slider start */
    .scroll-btn {
        width: 140px;
        height: 140px;
        top: 35%;
        left: 40%;
        /* slider end */

    }
    /* popular collection css start */
    .popular-collection {
        margin: 70px 0 0 0;
    }

    .popular-collection-upper {
        gap: 30px;
    }

    .popular-collection-upper-p {
        font-size: 30px;
    }

    /* target div */
    .target-div {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    /* popular section css end  */
      /* future design section css start */
      .future-design-section {
        padding: 50px 0 50px 0;
        margin-top: 70px;

    }

    .future-design-wrapper {
        gap: 65px;
        flex-direction: column;
    }

    .future-left {
        width: 100%;
    }

    .future-left-main-wrapper {
        width: 100%;
    }

    .future-left-main-wrapper-p {
        font-size: 28px;
    }

    .future-left-main-wrapper-another-p {
        line-height: 22px;
        font-size: 13px;
    }

    .button-div {
        margin-top: 24px;
        gap: 8px;
    }

    /* future counter */
    .future-left-counter {
        margin-top: 45px;
        padding: 55px;
    }

    .inner {
        gap: 30px;
        font-size: 15px;
    }

    .inner-a {
        font-size: 32px;
    }

    .another-v {
        display: none;
    }

    .future-right {
        width: 100%;
        height: 500px;
    }

    .future-vactor-div {
        top: 0%;
        right: 0;
        width: 39%;
        height: 17%;
    }

    .future-vactor {
        top: -12%;
        right: 9%;
        height: 25%;
    }
    /* future design section css end  */
    /* why us section css start */
    .why-us-wrapper {
        padding: 50px 0 50px 0;
    }

    .why-p-up {
        margin-bottom: 44px;
        font-size: 28px;
    }

    .why-us-inner-wrapper {
        gap: 30px;
        flex-direction: column;
    }

    /* why us section css end */
    /* office setup section start */
    .office-setup-section {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .setup-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 100px 0 100px 0;
    }

    .setup-btn {
        padding-bottom: 50px;
        gap: 20px;
        flex-direction: column;
    }

    .setup-h2 {
        font-size: 28px;
    }

    .setup-p {
        margin-top: 20px;
        font-size: 14px;
    }

    .lets-talk-btn {
        padding: 12px 36px 12px 36px;
    }

    .phone {
        color: #02494B;
        width: 24px;
        height: 24px;
    }

    .see-all-btn {
        padding: 12px 24px 12px 24px;
    }

    .arrow-righta {
        width: 14px;
        height: 14px;
    }

    .officeVactor {
        display: none;
    }

    .a {
        width: 50px;
        left: 3%;
    }

    .c {
        right: 5%;
    }

    /* office setup section end  */
     /* footer css start */

     .footer-wrapper {
        margin-top: 10px;
    }

    .main-footer {
        padding: 40px 0 40px 0;
        flex-direction: column;
    }

    .left-side {
        gap: 50px;
        flex-direction: column;
    }

    .left-side-inner {
        width: 100%;
    }

    .right-side-h2 {
        width: 100%;
        margin-top: 25px;
    }

    .social-wrapper {
        gap: 23.95px;
    }

    .link-wrapper {
        width: 100%;
        gap: 60px;
    }

    .end-footer {
        margin: 16px 0 16px 0;
    }

    .cookies-wrapper {
        gap: 30px;
    }

    /* footer css end */

}

/* for tablet device responsive */
@media only screen and (min-width: 769px) and (max-width:990px) {
    /* *,
    ::after,
    ::before {
        border: 1px solid rebeccapurple;
    }  */
    .container {
        max-width: 95%;
        margin: 0 auto;
        padding: 12px 12px;
    }

    .nav-end {
        display: flex;
    }
       /* vactor ing infinite scrool */
   
  .vactora{
    display: none;
  }
  .hero-section-h2{
    font-size: 2.5rem;
  
  }
  .hero-section-p{
    width: 100%;
  }
    .middle-img {
        transform: translateY(0%);
    }
    .aaa {
        width: 100%;
    }
    .vactor {
        top: 17%;
        left: 25%;
        bottom: 124%;
        width: 50%;
    }
    .lower-div {
        margin-top: 1.2rem;
        padding-bottom: 1.4rem;
        display: flex;
        justify-content: space-between;
    }
    .lower-p {
        font-size: 1rem;
    }
    .hero-section-img-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .ad {
        margin-bottom: 70px;
    }
    /* hero section end  */
     /* Style the marquee container */

    .marquee-wrapper {
        font-size: 1rem;
    }

    /* slider start */
    .scroll-btn {
        width: 140px;
        height: 140px;
        top: 35%;
        left: 48%;
        /* slider end */

    }
    /* popular collection css start */
    .popular-collection {
        margin: 70px 0 0 0;
    }

    .popular-collection-upper {
        gap: 30px;
    }

    .popular-collection-upper-p {
        font-size: 30px;
    }

    /* target div */
    .target-div {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    /* popular section css end  */
      /* future design section css start */
      .future-design-section {
        padding: 50px 0 50px 0;
        margin-top: 70px;

    }

    .future-design-wrapper {
        gap: 65px;
        flex-direction: column;
    }

    .future-left {
        width: 100%;
    }

    .future-left-main-wrapper {
        width: 100%;
    }

    .future-left-main-wrapper-p {
        font-size: 28px;
    }

    .future-left-main-wrapper-another-p {
        line-height: 22px;
        font-size: 13px;
    }

    .button-div {
        margin-top: 24px;
        gap: 8px;
    }

    /* future counter */
    .future-left-counter {
        margin-top: 45px;
        padding: 80px;
    }

    .inner {
        gap: 30px;
        font-size: 15px;
    }

    .inner-a {
        font-size: 32px;
    }

    .another-v {
        display: none;
    }

    .future-right {
        width: 100%;
        height: 500px;
    }

    .future-vactor-div {
        top: 0%;
        right: 0;
        width: 39%;
        height: 17%;
    }

    .future-vactor {
        top: -12%;
        right: 9%;
        height: 25%;
    }
    /* future design section css end  */
    /* why us section css start */
    .why-us-wrapper {
        padding: 50px 0 50px 0;
    }

    .why-p-up {
        margin-bottom: 44px;
        font-size: 28px;
    }

    .why-us-inner-wrapper {
        gap: 30px;
        flex-direction: column;
    }

    /* why us section css end */
    /* office setup section start */
    .office-setup-section {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .setup-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 100px 0 100px 0;
    }

    .setup-btn {
        padding-bottom: 50px;
        gap: 20px;
        
    }

    .setup-h2 {
        font-size: 28px;
    }

    .setup-p {
        margin-top: 20px;
        font-size: 14px;
    }

    .lets-talk-btn {
        padding: 12px 36px 12px 36px;
    }

    .phone {
        color: #02494B;
        width: 24px;
        height: 24px;
    }

    .see-all-btn {
        padding: 12px 24px 12px 24px;
    }

    .arrow-righta {
        width: 14px;
        height: 14px;
    }

    .officeVactor {
        display: none;
    }

    .a {
        width: 50px;
        left: 3%;
    }

    .c {
        right: 5%;
    }

    /* office setup section end  */
     /* footer css start */

     .footer-wrapper {
        margin-top: 10px;
    }

    .main-footer {
        padding: 40px 0 40px 0;
        flex-direction: column;
    }

    .left-side {
        gap: 50px;
        flex-direction: column;
    }

    .left-side-inner {
        width: 100%;
    }

    .right-side-h2 {
        width: 100%;
        margin-top: 25px;
    }

    .social-wrapper {
        gap: 23.95px;
    }

    .link-wrapper {
        width: 100%;
        gap: 50%;
    }

    .end-footer {
        margin: 16px 0 16px 0;
    }

    .cookies-wrapper {
        gap: 30px;
    }

    /* footer css end */

}

/* for laptop device  */
@media only screen and (min-width: 991px) and (max-width:1199px) {
    /* *,
    ::after,
    ::before {
        border: 1px solid yellowgreen;
    }  */
    .container {
        max-width: 95%;
        margin: 0 auto;
        padding: 12px 12px;
    }

    .nav-end {
        display: flex;
    }
       /* vactor ing infinite scrool */
   
  .vactora{
    display: none;
  }
  .hero-section-h2{
    font-size: 3rem;
  
  }
  .hero-section-p{
    width: 100%;
  }
    .middle-img {
        transform: translateY(0%);
    }
    .aaa {
        width: 100%;
    }
    .vactor {
        top: 17%;
        left: 25%;
        bottom: 124%;
        width: 50%;
    }
    .lower-div {
        margin-top: 1.2rem;
        padding-bottom: 1.4rem;
        display: flex;
        justify-content: space-between;
    }
    .lower-p {
        font-size: 1rem;
    }
    .hero-section-img-wrapper {
     
        gap: 20px;
    }
    .ad {
        margin-bottom: 70px;
    }
    /* hero section end  */
     /* Style the marquee container */

    .marquee-wrapper {
        font-size: 1rem;
    }

    /* slider start */
    .scroll-btn {
        width: 140px;
        height: 140px;
        top: 35%;
        left: 44%;
        /* slider end */

    }
    /* popular collection css start */
    .popular-collection {
        margin: 70px 0 0 0;
    }

    .popular-collection-upper {
        gap: 30px;
    }

    .popular-collection-upper-p {
        font-size: 30px;
    }

    /* target div */
    .target-div {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    /* popular section css end  */
      /* future design section css start */
      .future-design-section {
        padding: 50px 0 50px 0;
        margin-top: 70px;

    }

    .future-design-wrapper {
        gap: 90px;
        flex-direction: column;
    }

    .future-left {
        width: 100%;
    }

    .future-left-main-wrapper {
        width: 100%;
    }

    .future-left-main-wrapper-p {
        font-size: 28px;
    }

    .future-left-main-wrapper-another-p {
        line-height: 22px;
        font-size: 13px;
    }

    .button-div {
        margin-top: 24px;
        gap: 8px;
    }

    /* future counter */
    .future-left-counter {
        margin-top: 45px;
        padding: 107px;
    }

    .inner {
        gap: 30px;
        font-size: 26px;
    }

    .inner-a {
        font-size: 32px;
    }

    .another-v {
        display: none;
    }

    .future-right {
        width: 50%;
        height: 600px;
        margin: 0 auto;
    }

    .future-vactor-div {
        top: 0%;
        right: 0;
        width: 39%;
        height: 17%;
    }

    .future-vactor {
        top: -12%;
        right: 4%;
        height: 25%;
    }
    /* future design section css end  */
    /* why us section css start */
    .why-us-wrapper {
        padding: 50px 0 20px 0;
    }

    .why-p-up {
        margin-bottom: 44px;
        font-size: 32px;
    }

    .why-us-inner-wrapper {
        gap: 30px;
        flex-direction: row;
    }

    /* why us section css end */
    /* office setup section start */
    .office-setup-section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .setup-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 100px 0 100px 0;
    }

    .setup-btn {
        padding-bottom: 50px;
        gap: 20px;
        
    }

    .setup-h2 {
        font-size: 28px;
    }

    .setup-p {
        margin-top: 20px;
        font-size: 14px;
    }

    .lets-talk-btn {
        padding: 12px 36px 12px 36px;
    }

    .phone {
        color: #02494B;
        width: 24px;
        height: 24px;
    }

    .see-all-btn {
        padding: 12px 24px 12px 24px;
    }

    .arrow-righta {
        width: 14px;
        height: 14px;
    }

    .officeVactor {
        display: none;
    }

    .a {
        width: 50px;
        left: 3%;
    }

    .c {
        right: 5%;
    }

    /* office setup section end  */
     /* footer css start */

     .footer-wrapper {
        margin-top: 10px;
    }

    .main-footer {
        padding: 40px 0 40px 0;
        flex-direction: column;
    }

    .left-side {
        gap: 50px;
        flex-direction: column;
    }

    .left-side-inner {
        width: 100%;
    }

    .right-side-h2 {
        width: 100%;
        margin-top: 25px;
    }

    .social-wrapper {
        gap: 23.95px;
    }

    .link-wrapper {
        width: 100%;
        gap: 50%;
    }

    .end-footer {
        margin: 16px 0 16px 0;
    }

    .cookies-wrapper {
        gap: 30px;
    }

    /* footer css end */

}

@media only screen and (min-width: 1200px) and (max-width:1339px) {
    /* *,
    ::after,
    ::before {
        border: 1px solid palevioletred;
    }  */
    .container {
        max-width: 95%;
        margin: 0 auto;
        padding: 12px 12px;
    }

    .nav-end {
        display: flex;
    }
       /* vactor ing infinite scrool */
   
  .vactora{
    display: none;
  }
  .hero-section-h2{
    font-size: 3rem;
  
  }
  .hero-section-p{
    width: 100%;
  }
    .middle-img {
        transform: translateY(0%);
    }
    .aaa {
        width: 100%;
    }
    .vactor {
        top: 17%;
        left: 25%;
        bottom: 124%;
        width: 50%;
    }
    .lower-div {
        margin-top: 1.2rem;
        padding-bottom: 1.4rem;
        display: flex;
        justify-content: space-between;
    }
    .lower-p {
        font-size: 1rem;
    }
    .hero-section-img-wrapper {
     
        gap: 20px;
    }
    .ad {
        margin-bottom: 70px;
    }
    /* hero section end  */
     /* Style the marquee container */

    .marquee-wrapper {
        font-size: 1rem;
    }

    /* slider start */
    .scroll-btn {
        width: 140px;
        height: 140px;
        top: 35%;
        left: 50%;
        /* slider end */

    }
    /* popular collection css start */
    .popular-collection {
        margin: 70px 0 0 0;
    }

    .popular-collection-upper {
        gap: 30px;
    }

    .popular-collection-upper-p {
        font-size: 30px;
    }

    /* target div */
    .target-div {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    /* popular section css end  */
      /* future design section css start */
      .future-design-section {
        padding: 50px 0 50px 0;
        margin-top: 70px;

    }

    .future-design-wrapper {
        gap: 90px;
        flex-direction: column;
    }

    .future-left {
        width: 100%;
    }

    .future-left-main-wrapper {
        width: 100%;
    }

    .future-left-main-wrapper-p {
        font-size: 28px;
    }

    .future-left-main-wrapper-another-p {
        line-height: 22px;
        font-size: 13px;
    }

    .button-div {
        margin-top: 24px;
        gap: 8px;
    }

    /* future counter */
    .future-left-counter {
        margin-top: 45px;
        padding: 107px;
    }

    .inner {
        gap: 30px;
        font-size: 26px;
    }

    .inner-a {
        font-size: 32px;
    }

    .another-v {
        display: none;
    }

    .future-right {
        width: 50%;
        height: 600px;
        margin: 0 auto;
    }

    .future-vactor-div {
        top: 0%;
        right: 0;
        width: 39%;
        height: 17%;
    }

    .future-vactor {
        top: -12%;
        right: 4%;
        height: 25%;
    }
    /* future design section css end  */
    /* why us section css start */
    .why-us-wrapper {
        padding: 50px 0 20px 0;
    }

    .why-p-up {
        margin-bottom: 44px;
        font-size: 32px;
    }

    .why-us-inner-wrapper {
        gap: 30px;
        flex-direction: row;
    }

    /* why us section css end */
    /* office setup section start */
    .office-setup-section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .setup-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 100px 0 100px 0;
    }

    .setup-btn {
        padding-bottom: 50px;
        gap: 20px;
        
    }

    .setup-h2 {
        font-size: 28px;
    }

    .setup-p {
        margin-top: 20px;
        font-size: 14px;
    }

    .lets-talk-btn {
        padding: 12px 36px 12px 36px;
    }

    .phone {
        color: #02494B;
        width: 24px;
        height: 24px;
    }

    .see-all-btn {
        padding: 12px 24px 12px 24px;
    }

    .arrow-righta {
        width: 14px;
        height: 14px;
    }

    .officeVactor {
        display: none;
    }

    .a {
        width: 50px;
        left: 3%;
    }

    .c {
        right: 5%;
    }

    /* office setup section end  */
     /* footer css start */

     .footer-wrapper {
        margin-top: 10px;
    }

    .main-footer {
        padding: 40px 0 40px 0;
        flex-direction: column;
    }

    .left-side {
        gap: 50px;
        flex-direction: column;
    }

    .left-side-inner {
        width: 100%;
    }

    .right-side-h2 {
        width: 100%;
        margin-top: 25px;
    }

    .social-wrapper {
        gap: 23.95px;
    }

    .link-wrapper {
        width: 100%;
        gap: 50%;
    }

    .end-footer {
        margin: 16px 0 16px 0;
    }

    .cookies-wrapper {
        gap: 30px;
    }
} 

